# 1-1(2557번)
문제: Hello World!를 출력하시오.

입력: 없음

In [1]:
print("Hello World!")

Hello World!

# 1-2(10718번)
문제: 두 줄에 걸쳐 "강한친구 대한육군"을 한 줄에 한 번씩 출력하시오.

입력: 없음

In [2]:
print("강한친구 대한육군")
print("강한친구 대한육군")
#print("강한친구 대한육군\n강한친구 대한육군")

강한친구 대한육군
강한친구 대한육군

# 1-3(10171번)
문제: 아래 예제와 같이 고양이를 출력하시오

입력: 없음

In [3]:
print("\\   /\\\n ) ( ')\n(  /  )\n \\(__)|")

\   /\
 ) ( ')
(  /  )
 \(__)|

# 1-4(10172번)
문제: 아래 예제와 같이 개를 출력하시오

입력: 없음

In [4]:
print('|\\_/|\n|q p|    /}\n( 0 )"""\\\n"^""`    |\n||_/=\\\\__|')

|\_/|
|q p|    /}
( 0 )"""\
"^""`    |
||_/=\\__|

# 1-5(1000번)
문제: 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

입력: 첫째 줄에 A와 B가 주어진다.(0 < A, B < 10)

출력: 첫째 줄에 A+B를 출력한다

In [5]:
a, b = map(int, input().split())
print(a+b)

1 2
3

# 1-6(1001번)
문제: 두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오

입력: 첫째 줄에 A와 B가 주어진다.(0 < A, B < 10)

출력: 첫째 줄에 A-B를 출력한다.

In [6]:
a, b = map(int, input().split())
print(a-b)

3 2
1

# 1-7(10998번)
문제: 두 정수 A와 B를 입력받은 다음, A*B를 출력하는 프로그램을 작성하시오

입력: 첫째 줄에 A와 B가 주어진다.(0 < A, B < 10)

출력: 첫째 줄에 A*B를 출력한다.

In [7]:
a, b = map(int, input().split())
print(a*b)

1 2
2

# 1-8(1008번)
문제: 두 정수 A와 B를 입력받은 다음,A/B를 출력하는 프로그램을 작성하시오.

입력: 첫째 줄에 A와 B가 주어진다.(0 < A, B < 10)

출력: 첫째 줄에 A/B를 출력한다.

In [8]:
a, b = map(int, input().split())
print(a/b)

1 3
0.3333333333333333

# 1-9(10869번)
문제: 두 자연수 A와B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지를) 출력하는 프로그램을 작성하시오.

입력: 두 자연수 A와 B가 주어진다.(1 <=A, B <=10,000)

출력: 첫재 줄에 A+B, 둘째 줄에 A-B, 셋째 줄에 A*B, 넷째줄에 A/B, 다섯째 줄에 A%B를 출력한다.

In [9]:
a, b = map(int, input().split())
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

7 3
10
4
21
2.3333333333333335
1

# 1-10(10430번)
문제: (A+B)%C는 ((A%C) + (B%C))%C 와 같을까? 

      (A×B)%C는 ((A%C) × (B%C))%C 와 같을까?

      세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.

입력: 첫째 줄에 A, B, C가 순서대로 주어진다.(2 <= A, B, C <=10000)

출력: 첫째 줄에(A+B)%C, 둘째 줄에 ((A%C) + (B%C))%C, 셋째 줄에 (A*B)%C, 넷째 줄에 ((A%C) * (B%C))%C를 출력한다.

In [10]:
a, b, c = map(int, input().split())
print((a+b)%c)
print(((a%c)+(b%c))%c)
print((a*b)%c)
print(((a%c)*(b%c))%c)

5 8 4
1
1
0
0

# 1-11(2588번)
문제: (세 자리 수)*(세 자리 수)는 다음과 같은 과정을 통하여 이루어진다.

     472 ....(1)
     
    x385 ....(2)
____

    2360 ....(3)
    
    37760  ....(4)
   
    141600   ....(5)  
____

    181720 ....(6)

입력: (1)과 (2)위치에 들어갈 세 자리 자연수가, 둘째 줄에(2)의 위치에 들어갈 세자리 자연수가 주어진다.

출력: 첫째 줄부터 넷째 줄까지 차례대로 (3), (4), (5), (6)에 들어갈 값을 출력한다.

In [11]:
a,b = map(str, input().split())
num1 = int(b[2])*int(a)
num2 = int(b[1])*int(a)
num3 = int(b[0])*int(a)
num4 = num1+(10*num2)+(100*num3)
print(num1,"\n",num2,"\n",num3,"\n",num4)

472 385
2360
 3776
 1416
 181720